<!--::header part start::-->
<header class="main_menu home_menu">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" href="index.html"> AuctionIt </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_icon"><i class="fas fa-bars"></i></span>
          </button>

          <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home">Home</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link " href="blog.html" id="navbarDropdown_1" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Shop
                </a>

              </li>
              <li class="nav-item ">
                <a class="nav-link " href="blog.html" id="navbarDropdown_3" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Cart
                </a>

              </li>
              <li class="nav-item ">
                <a class="nav-link " routerLink="/about" id="navbarDropdown_2" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  About Us
                </a>

              </li>

              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              <li class="nav-item">
                <a class="nav-link" *ngIf="status || userIsAuthenticated" routerLink="/actions/upload">Post An
                  Auction</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="!status && !userIsAuthenticated" routerLink="/auth/login">Login</a>
                <a class="nav-link" *ngIf="status || userIsAuthenticated" (click)="onLogout()"
                  routerLink="/auth/login">Logout</a>

              </li>
            </ul>
          </div>
          <div class="hearer_icon d-flex">
            <div class="dropdown cart">
              <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              </a>
              <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">

                                    </div>
                                </div> -->

            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>

</header>

<!-- Header part end-->
<router-outlet>
