<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->

  <title>Hello, world!</title>
</head>

<body>
  <!-- <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#">AuctionIt.</a>
  </nav> -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-header">
    <a class="navbar-brand" href="#">AuctionIt.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-effect waves-light" routerLink="/home">Home <span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu dropdown-info" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item waves-effect waves-light" href="#">Action</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Another action</a>
            <a class="dropdown-item waves-effect waves-light" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline">
        <div class="md-form my-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" routerLink="/auth/login"
                *ngIf="!status && !userIsAuthenticated">Login</a>
            </li>
            {{ userEmail }}
            <li class="nav-item">
              <button class="btn bg-header" type="button" *ngIf="status || userIsAuthenticated"> <span
                  class="text-white" (click)="onLogout()">Logout</span>
              </button>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </nav>
</body>

</html>
<router-outlet></router-outlet>
