<div class="card displayContainer centerPseudo">
  <h5 class="card-header">Choose An Account</h5>
  <div class="card-body centerPseudo">
    <h5 class="card-title">Which One Is You ?</h5>
    <hr><br>
    <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
    <a href="#" class="btn btn-primary centerPseudo">Seller</a> &nbsp; &nbsp;
    <a href="#" class="btn btn-primary centerPseudo">Buyer</a>&nbsp; &nbsp;
    <a href="#" class="btn btn-primary centerPseudo">Create Account ?</a>
  </div>
</div>
